/* stylelint-disable selector-class-pattern */

:root {
  --megamenu-item-width: 300px;
  --megamenu-panel-width: 900px;
  --megamenu-panel-height: 500px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 3;
  position: fixed;
  border-bottom: var(--shape-border-width-1) solid var(--color-neutral-300);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools wrapperPopUpButton' var(--nav-height)
    'sections sections sections ...' 1fr / auto 1fr auto auto;
  align-items: center;
  gap: 0 var(--spacing-small);
  margin: auto;
  max-width: var(--screen-max-width);
  height: var(--nav-height);
  font: var(--type-base-font-family);
  position: relative;
}

header nav p {
  margin: 0;
  line-height: 1;
}

#nav a.button,
nav a {
  color: var(--color-neutral-900);
  text-decoration: none;
  text-underline-offset: 6px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: center;
  border-radius: 0;
  margin-right: var(--spacing-small);
  margin-left: var(--spacing-small);
  border: none;
  background: var(--color-neutral-50);
  padding: var(--spacing-xsmall);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}

header nav .nav-hamburger button {
  height: 24px;
  cursor: pointer;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-neutral-50);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: var(--shape-border-width-3);
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: var(--shape-border-width-3);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header nav .nav-brand a {
  grid-area: brand;
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  color: var(--color-brand-700);
}

header nav .nav-sections ul > li,
header nav .nav-sections ul > li > a {
  color: var(--color-neutral-900);
  font-weight: 500;
}

header nav .nav-brand a:hover {
  color: var(--color-brand-700);
  text-decoration: none;
}

li.nav-drop img {
  max-width: var(--megamenu-item-width);
  width: 100%;
  height: auto;
  object-fit: contain;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  margin: 0;
  position: relative;
  height: 100dvh;
  display: block;
  visibility: visible;
  white-space: nowrap;
  transform: translateX(calc(-100% - 20px - calc(calc(100vw - 720px) / 2)));
}

header nav[aria-expanded='false'] .nav-sections {
    height: auto;
}

header nav[aria-expanded='true'] .nav-sections {
  overflow-y: auto;
}

header nav .nav-sections ul {
  list-style: none;
  padding: 0;
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  position: relative;
  margin: 0;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
  margin: 0;
}

header nav .nav-sections .nav-sections-ul-wrapper > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: var(--color-neutral-900);
  border-bottom: 1px solid var(--color-neutral-300);
  text-decoration: none;
  font-weight: 500;
  padding: 14px 28px;
}

header nav .nav-sections .nav-sections-ul-wrapper > ul > li > a:focus,
header nav .nav-sections .nav-sections-ul-wrapper > ul > li > a:hover {
  background-color: unset;
  color: unset;
  text-decoration: none;
}

/* tools */
header nav .nav-tools-panel {
  z-index: 100;
  position: absolute;
  box-shadow: var(--shape-shadow-2);
  background: var(--background-color);
  top: var(--nav-height);
  right: 0;
  width: 100%;
  display: none;
  box-sizing: border-box;
}

header nav .nav-tools-panel--show {
  display: block;
}

header nav .nav-tools {
  grid-area: tools;
  display: flex;
  height: 100%;
  gap: var(--spacing-small);
  align-items: center;
  background: var(--background-color);
}

header nav .nav-tools-wrapper > button {
  color: var(--color-brand-700);
  background: transparent;
  padding: var(--spacing-small);
  border: unset;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

header nav .nav-tools button.nav-cart-button {
  background-image: url('../../icons/cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  font-weight: bold;
}

header nav .nav-tools button.nav-cart-button[data-count]::after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  right: -4px;
  background-color: var(--color-brand-700);
  color: var(--color-neutral-100);
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
}

header nav .nav-tools button.nav-search-button {
  font-size: 0;
  background-image: url('../../icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

header .nav-search-panel {
  padding: var(--spacing-small);
}

header .nav-search-panel input {
  width: 100%;
  padding: var(--spacing-small);
  box-sizing: border-box;
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  border: var(--shape-border-width-1) solid currentcolor;
  appearance: none;
}

/* Mini Cart  */

.cart-mini-cart:not(:has(.cart-empty-cart)) {
  max-height: 760px;
  min-height: 360px;
}

header .nav-search-input .search_autocomplete .popover-container {
  width: 100%;
}

/* CSS for authCombine */
#auth-combine-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow-y: auto;
  padding: var(--spacing-small) 0;
  box-sizing: border-box;
}

#auth-combine-wrapper {
  background-color: white;
  border-radius: var(--shape-border-radius-2);
  width: 100%;
  max-width: 800px;
  min-height: max-content;
  margin: 0 var(--spacing-small);
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;

  @supports (height: 90svh) {
    max-height: 90svh;
  }
}

/* CSS for auth dropdown */

.dropdown-wrapper.nav-tools-wrapper .nav-dropdown-button {
  font: var(--type-body-1-default-font) !important;
  letter-spacing: var(--type-body-1-default-letter-spacing) !important;
  color: var(--color-neutral-900);
  font-weight: bold;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 40px;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
  font: var(--type-body-1-default-font) !important;
  letter-spacing: var(--type-body-1-default-letter-spacing) !important;
  width: 100%;
}

.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu
  li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu
  li
  > a {
  padding: 12px 15px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu
  li
  > a:hover,
.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu
  li
  > .logoutButton:hover {
  background-color: lightgray;
}

.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu
  li
  button {
  cursor: pointer;
  background-color: transparent !important;
  color: currentcolor !important;
  padding: var(--spacing-small);
  display: inline-block !important;
  width: 100% !important;
  text-decoration: none !important;
  font: var(--type-body-1-strong-font) !important;
  letter-spacing: var(--type-body-1-strong-letter-spacing) !important;
  margin: 0 !important;
  text-align: start !important;
  box-sizing: border-box !important;
  border: none !important;
  border-radius: 0 !important;
}

.dropdown-wrapper.nav-tools-wrapper
  .nav-auth-menu-panel
  .authenticated-user-menu
  li
  button:hover {
  background-color: lightgray !important;
  border-radius: 0 !important;
}

.grecaptcha-badge {
  margin-top: var(--spacing-medium);
  z-index: 3;
}

ul li.nav-drop > ul > li > ul {
  margin: 1em 0 0 0.5em;
}

main.overlay {
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  z-index: 2;
}

header nav .nav-sections .active-submenu {
  display: none;
}

header nav .nav-sections .nav-sections-ul-wrapper {
  background-color: var(--color-neutral-50);
  position: absolute;
  width: 100%;
  max-width: 260px;
  transform: translateX(-100%);
  overflow-y: scroll;
  height: 100%;
  z-index: 4;
  transition: transform 400ms ease;
}

header nav .nav-sections .nav-drop[aria-expanded='true'] {
  background-color: var(--color-neutral-200);
}

header nav .nav-sections .nav-drop[aria-expanded='true']::after {
  top: unset;
  bottom: 0.5em;
  transform: rotate(315deg);
}

header nav .nav-sections .nav-sections-ul-wrapper > ul > li ul {
  display: none;
}

header
  nav
  .nav-sections
  .nav-sections-ul-wrapper
  > ul
  > li:has(ul)
  > a
  > .accordian-icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (width >= 1024px) {
  header nav .nav-tools-wrapper {
    position: relative;
  }

  header nav .nav-tools-panel {
    top: calc(-20px + var(--nav-height));
  }

  header nav .minicart-panel {
    width: 398px;
  }

  header nav .nav-search-panel {
    width: 398px;
  }

  .dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
    width: 398px;
  }
}

/* If viewport height is below max, set max height to 90% of viewport */
@media (height < 820px) {
  .cart-mini-cart:not(:has(.cart-empty-cart)) {
    max-height: calc(100vh - var(--nav-height));
  }
}

@media (width > 991px) {
  header nav .nav-sections .nav-sections-ul-wrapper {
    overflow: visible;
  }

  header nav[aria-expanded='true'] .nav-sections,
  header nav[aria-expanded='true'] .nav-sections .nav-sections-ul-wrapper {
    display: flex;
    transform: none;
    height: 100%;
    width: unset;
    transition: none;
    background-color: transparent;
    justify-content: center;
    overflow-y: visible;
  }

  header nav .nav-sections .nav-sections-ul-wrapper > ul > li > a {
    border-bottom: none;
    padding: 0;
    height: 100%;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 var(--spacing-big);
    max-width: var(--screen-max-width);
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
    border-radius: var(--shape-border-radius-2);
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: flex;
    min-height: 6px;
    margin-left: 5px;
    margin-right: 2.25px;
    transform: rotate(45deg);
    transform-origin: 75% 75%;
    transition: transform 0.1s ease;
    min-width: 6px;
    width: 0.6rem;
    height: 0.6rem;
    border: var(--shape-border-width-3) solid var(--color-neutral-900);
    border-radius: 0 var(--shape-border-width-1) 0 0;
    border-width: 0 var(--shape-border-width-3) var(--shape-border-width-3) 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] {
    background-color: var(--color-neutral-200);
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    margin: 0;
  }

  header nav .nav-sections ul li {
    display: flex;
    align-items: center;
    margin: 0 1.4rem;
  }

  header nav .nav-sections .nav-drop ul {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--color-neutral-300);
    width: auto;
    padding: 0;
    margin: 0;
    min-width: 150px;
    box-shadow: 4px 6px 6px -6px #777;
    flex-direction: column;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] > ul {
    height: auto;
    flex-flow: column wrap;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .nav-drop:hover ul,
  header nav .nav-sections .nav-drop ul:hover {
    display: block;
  }

  /* This is the style for the dropdown */
  header
    nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li[aria-expanded='true']
    > ul {
    display: flex;
    position: absolute;
    left: -2px;
    width: auto;
    top: 150%;
    padding: var(--spacing-small);
    background-color: var(--color-neutral-50);
    white-space: initial;
    text-wrap: nowrap;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: var(--spacing-xsmall) 0;
  }

  header nav .nav-sections .nav-sections-ul-wrapper > ul > li ul li a {
    color: var(--color-neutral-900);
    padding: var(--spacing-small) var(--spacing-small);
    width: 100%;
  }

  header nav .nav-sections .nav-drop ul li a:hover {
    color: var(--color-brand-700);
    background-color: var(--color-neutral-300);
    text-decoration: none;
  }

  header nav[aria-expanded='true'] .nav-sections .nav-sections-ul-wrapper {
    transform: translateX(0);
  }
}

/* Mobile Nav */
@media (width < 990px) {
  header nav .nav-sections ul {
    padding: 0;
  }

  header nav .nav-sections ul li {
    line-height: 3em;
  }

  header nav .nav-sections ul > li > ul,
  header nav .nav-sections ul > li > ul > li {
    width: 100%;
  }

  header nav .nav-sections ul > li.nav-drop {
    cursor: pointer;
  }

  header nav .nav-sections ul > li.nav-drop::after {
    content: '\276F';
    position: absolute;
    right: 3vw;
    transform: rotate(90deg);
    top: 0;
  }

  header nav .nav-sections ul > li.nav-drop.expanded::after {
    transform: rotate(-90deg);
  }

  header nav .nav-sections .nav-sections-ul-wrapper > ul {
    margin: 0;
    position: relative;
  }

  header nav .nav-sections ul > li.nav-drop ul {
    display: none;
  }

  header nav .nav-sections .nav-sections-ul-wrapper > ul > li.expanded > ul {
    display: block;
    background-color: grey;
  }

  header nav .nav-sections .active-submenu {
    background: var(--background-color);
    display: none;
    height: 100%;
    position: absolute;
    top: 30px;
    width: 100%;
  }

  header nav .nav-sections .active-submenu button::before {
    content: '\276E';
    margin-right: 0.5em;
  }

  header nav .nav-sections .active-submenu button::after {
    content: '\2715';
    position: absolute;
    right: 8vw;
  }

  header nav .nav-sections .active-submenu button {
    background: none;
    border: 0;
    border-bottom: 1px solid var(--color-neutral-500);
    cursor: pointer;
    left: -2em;
    padding: 0 2em 1em;
    position: relative;
    text-align: left;
    width: 102vw;
  }

  header nav .nav-sections .active-submenu ul > li.nav-drop::after {
    content: none;
  }

  header nav .nav-sections .active-submenu.visible,
  header nav .nav-sections .active-submenu.visible ul > li.nav-drop ul {
    display: block;
  }

  header nav[aria-expanded='true'] .nav-sections {
    width: calc(100vw + 40px);
    position: absolute;
    top: 0;
    transform: translateX(calc(0vw - 20px - calc(calc(100vw - 100%) / 2)));
    background-color: rgb(0 0 0 / 70%);
    align-self: start;
  }

  header nav[aria-expanded='true'] .nav-sections .nav-sections-ul-wrapper {
    transform: translateX(0);
  }

  header nav .nav-sections .nav-sections-ul-wrapper::before {
    content: '';
    display: block;
    padding: 14px 0;
    background-color: grey;
    width: 100%;
  }

  header nav .nav-sections .nav-sections-ul-wrapper > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: var(--color-neutral-900);
    border-bottom: 1px solid var(--color-neutral-300);
    text-decoration: none;
    font-weight: 500;
    padding: 14px 28px;
  }

  header nav .nav-sections .nav-sections-ul-wrapper > ul > li ul li a {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.4rem;
    padding: 1.4rem 4.2rem;
    border-bottom: solid 1px rgb(255 255 255 / 23%);
    width: 100%;
    color: var(--color-neutral-50);
  }
}
